body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font:12px;font-family: 'iconfont';}
input,a{outline:none;}

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}


//头部信息
.hd_top_bar{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    color: #333;
    font-size: 12px;
}

.claerfix{
    display: block;
}
.hd_indxProvce{
    position: relative;
    z-index: 605;
    float: left;
    width: 123.75px;
    height: 30px;
}

.hd_topbar_right{
    float: right;
    color: #666;
}
.hd_icontfont{
    color: red;
    font-style: normal;
    font-weight: 900;
}
.hd_topbar_right{
    float: right;
    color: #666;
    ul{
        float: left;
        width: 375px;
        .li1{
            float: left;
            width:39px;
            color: red;
          text-indent:10px;
        }
        .li2{
            float: left;
            width:28px ;
            a{
                display: block;
                margin: 0 2px;
                color: red;
            }
        }
        .li3{
            float: left;
            width: 44px;
            a{
                display: block;
                margin: 0 10px;
            }
        }
        .li4{
            float: left;
//          width: 85px;
            a{
                display: block;
                margin: 0 12px;
            }
        }
        .li5{
            float: left;
            .hd_menu{
                 a{
                     display: block;
                    margin: 0 10px;
                    span{
                        transform-origin: 50% 50%;
                        transition: all .4s
                    }
                }
            }
            
            .hd_menu_list{
                position: absolute;
                top: 29px;
                display: none;
                width: 68px;
                padding: 5px 5px 5px 10px;
                border: 1px solid #dbdbdb;
                border-top: 0 none;
                background-color: #fff;
                a{
                    display: block;
                    width: 100%;
                }
            }
           
        }
        .li6{
            float: left;
            a{
                display: block;
                margin-left: 16px;
                span{
                    font-weight: 900;
                }
            }
            .hd_ewm{
                position: absolute;
                top: 30px;
                display: none;
                padding: 15px 9px 9px;
                border: 1px solid #e5e5e5;
                background-color: #fff;
                .sanjiao{
                    width: 0;
                    height: 0;
                    border-top: 0px;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #E5E5E5;
                    position: absolute;
                    top: -7px;
                    left: 46px;
                }
                p{
                    text-align: center;
                    line-height: 12px;
                    margin-bottom: 7px;
                }
                a{
                    display: block;
                    margin: 0;
                }
            }
        }
    }
    ul li:hover a{
        color: red;
    }
    ul li:nth-of-type(5):hover{
        background: #fff;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
       
    }
    ul li:nth-of-type(5):hover .hd_menu_list{
        display: block;
        
    }
    ul li:nth-of-type(5):hover .hd_menu_list a{
        color: #000;
    }
    
    ul li:nth-of-type(5) .hd_menu_list a:hover{
        color: red;
    }
    
    ul li:nth-of-type(6):hover .hd_ewm {
        display: block;
    }
}



//头部下半部分
.hd_header{
    height: 150px;
    background-repeat: no-repeat;
}
.hd_logo{
    float: left;

    
     a{
        width: 205px;
        height: 150px;
        display: block;
        background: url(../img/logo.png) no-repeat center/cover;
     }
}
.hd_header_right{
    float: right;
    width: 974px;
    padding: 32px 14px 0 35px;
}

//搜索 
.search{
  width: 754px;
  height: 40px;
  float: left;
  .search1{
    width:660px;
    height: 36px;
    border: 2px solid red;
    float: left;
    outline: none;
    font-size: 18px;
    padding: 0 20px;
    
}
  .btn1{
    float: left;
    height: 40px;
    line-height: 40px;
    width: 50px;
    background: red;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 20px;
  }
}   
//fixed_serach
.fixed_search{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 950;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background: #fff;
    .fixed_search_wrap{
        width: 1228px;
        margin: 0 auto;
        a{
            display: block;
            width: 150px;
            height: 60px;
            float: left;
            margin-right: 47px;
            img{
                width: 150px;
                height: 60px;
            }
        }
        .search3{
            margin: 10px 0 0 0;
            width: 802px;
            .btn3{
              float: left; 
              width: 50px;
              height: 40px;
              line-height: 40px;
              border: 0 none;
              background-color: #ff4040;
              text-align: center;
              color: #FFF;
              cursor: pointer;
               
            }
        }
    }
    
}   
    


.shop{
    float: right;
     width: 130px;
     height: 39px;
     border: 1px solid #d7d7d7;
     a{
        display: block;
        height: 20px;
        padding: 9px 0 9px;
        background: #FFF;
        border: 0;
        text-align: center;
        line-height: 20px;
        color: #666666;
        font-size: 16px;  
        span{
           margin-right: 20px; 
        }  
    }
}
.hd_list{
    width: 754px;
    height: 36px;
    a{
        display: block;
        float: left;
        margin-right: 15px;
        line-height: 36px;
        color: #aaa;
        font-size: 14px;
    }
}
.hd_nav{
   float: left;
    height: 40px;
    li{
        float: left;
            margin-right: 30px;
        
        a{
            display: block;
            color: #333;
            font-size: 16px;

        }
    }
}

//banner   商品详情
#banner{
    height: 400px;
    background: coral;
    
}
.wrap{
    position: relative;
}
#box{
    position: absolute;
    z-index: 103;
    width: 205px;
    height: 400px;
    left: 0;
    background: rgba(48,48,48,0.9);
    ul{
        padding-top: 2px;
        li{
            margin-bottom: 1px;
            display: block;
            h3{
                height: 32px;
                overflow: hidden;
                padding: 0 10px 0;
                color: #FFf;
                font-weight: normal;
                font-size: 14px;
                line-height: 32px;
                i{
                    display: inline-block;
                    width: 20px;
                    margin: 0 14px;
                    text-align: right;
                    vertical-align: middle;
                    font-size: 20px;
                    font-style: normal;
                    color: #737373;
                }
                a{
                    display: inline-block;
                    font-weight: normal;
                    font-size: 12px;
                    color: #fff;
                    white-space: nowrap;
                    font-family: "微软雅黑";
                }
            }
            &:hover{
                background: #fff;
                a{
                    color: #000;
                }
                i{
                    color: red;
                }
            }
        }
       
    }
}


//个人中心
.vip2_c{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}
#person_center{
    position: absolute;
    z-index: 102;
    right: 20px;
    width: 205px;
    padding-top: 56px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    background-color: #fff;
    .per_wrap{
        filter: none;
        position: absolute;
        top: -26px;
        left: 67px;
        width: 64px;
        height: 64px;
        padding: 4px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.1);
        a{
            display: block;
            width: 64px;
            height: 64px;
            overflow: hidden;
            border-radius: 50%;
            background: url(../img/7.png) no-repeat 0 -150px;
            img{
                width: 64px;
                height: 64px;
                vertical-align: top;
            }
        }
    }
    .info_wrap{
        .unlogin_box{
            padding-bottom: 30px;
            text-align: center;
            color: #999;
            line-height: 20px;
            .title{
                font-size: 12px;
            }
            .tips{
                height: 16px;
                overflow: hidden;
                padding: 0 5px ;
                line-height: 16px;
            }
            .btn_wrap{
                margin-top: 13px;
                a{
                    display: inline-block;
                    width: 68px;
                    height: 24px;
                    margin: 0 5px;
                    border-radius: 13px;
                    border: 1px solid #ff4040;
                    background-color: #FFF;
                    color: #ff4040;
                    line-height: 24px;
                    text-align: center;
                }
            }
        }
    }
    .top_line{
        box-shadow: 0 -4px 4px -5px rgba(9,2,4,0.2);
        .vip_list{
            width: 186px;
            height: 76px;
            margin: 0 auto;
            overflow: hidden;
            border-top: 1px solid #fafafa;
            border-bottom: 1px dashed #E5E5E5;
            text-align: center;
            font-size: 12px;
            a{
              display: block;
              float: left;
              width: 62px;
              padding: 12px 0;
              color: #666;
              img{
                  transition: all .3s;
                  width: 32px;
                  height: 32px;
                  margin: 0 auto;
                  vertical-align: top;
                  
              }
              p{
                  height: 12px;
                  line-height: 12px;
                  padding-top: 8px;
              }
              &:hover{
                  color: #f76969;
                  img{
                      transform: translateY(-3px);
                  }
              }
                
            }
        }
    }
    .notice_list{
        height: 72px;
        margin: 9px 12px;
        overflow: hidden;
        a{
            display: block;
            height: 24px;
            overflow: hidden;
            color: #666;
            font-size: 12px;
            line-height: 24px;
            em{
                color: #f76969;
                font-style: normal;
            }
            &:hover{
                color: #f76969;
            }
        }
        
    }
}
//个人中心结束

//轮播开始


#slider{
    width:791px;
    height:400px;
    margin:0 auto;
    position:relative;
}
.slider_list li{
    position:absolute;
    left:-14px;
    display:none;
}
.slider_list li:first-child{
    display:block;
    }
.slider_icon{
    position:absolute;
    z-index:1;left:40%;
    bottom:20px;
    font-size:0;
    padding:4px 8px;
    border-radius:12px;
    background-color:hsla(0,0%,100%,.3);
    }
.slider_icon i{
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    margin:0 5px;
}
.btn{
    background:#fff;
}
.arrow{
    display:none;
    width:30px;
    height:60px;
    background-color:rgba(0,0,0,.2);
    position:absolute;
    top:50%;
    margin-top:-30px;
}
.prve{
    left:0;
}
.next{
    right:25px;
}
.arrow span{
    display:block;
    width:10px;
    height:10px;
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
}
.slider_left{
    margin:25px 0 0 10px;
    transform:rotate(45deg);
}
.slider_right{
    margin:25px 0 0 5px;
    transform:rotate(-135deg);
}
.arrow:hover{
    background:#444;
}
#slider:hover .arrow{
    display:block;
}
.btn_act{
    background:#db192a;
}

//二级轮播 抢购
.mod_seckill{
    margin-top: 10px;
    a{
        position: relative;
        height: 140px;
        padding-top: 0;
        float: left;
        font-size: 12px;
        width: 205px;
        overflow: hidden;
        background: url(../img/7.png) no-repeat 0 0;
        img{
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        .confirm_btn{
            position: absolute;
            width: 60px;
            padding-right: 20px;
            background: #b5012f url(../img/btn_more.png) no-repeat 66px center;
            height: 25px;
            border-radius: 13px;
            left: 61px;
            bottom: 10px;
            color: #FFFDEF;
            text-align: center;
            line-height: 25px;
        }
    }
    .ejlb{
        height: 140px;
        width: 1023px;
        overflow: hidden;
        ul{
            width: 99999px;
            height: 140px;
            li{
                float: left;
                width: 255px;
                height: 140px;
                a{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}


//闪购
#sg{
    margin-top: 20px;
    height: 400px;
    .left_banner1{
        width: 205px;
        position: relative;
        float: left;
        height: 400px;
        overflow: hidden;
        margin-right: 12px;
        a{
            display: block;
            img{
                display: block;
                width: 205px;
                height: 400px;
            }
            .b_caption{
                width: 186px;
                margin-left: -93px;
                position: absolute;
                left: 50%;
                bottom: 34px;
                height: 100px;
                text-align: center;
                background-color: rgba(255,255,255,0.8);
                h4{
                    margin-top: 20px;
                    font-size: 20px;
                    color: #333333;
                    line-height: 24px;
                    height: 32px;
                    font-weight: normal;
                }
                .cut_line{
                    width: 30px;
                    height: 10px;
                    overflow: hidden;
                    margin: 2px auto 0;
                    border-top: 1px solid #333;
                }
                .sub_tit{
                    height: 16px;
                    overflow: hidden;
                    font-size: 14px;
                    line-height: 16px;
                    color: #333;
                    
                }
            }
        }
    }
    .group_buy{
        width: 391px;
        float: left;
        height: 400px;
        background: #fff url(../img/group_bg.png)no-repeat center top;
        .claerfix{
            .group_today{
                position: relative;
                float: left;
                overflow: hidden;
                border-right: 1px solid #f0f0f0;
                a{
                    display: block;
                    width: 195px;
                    padding-left: 0;
                    height: 360px;
                    img{
                        width: 195px;
                        height: 360px;
                    }
                }
            }
            .fr2{
                float: right;
                    width: 194px;
                .g_varitety{
                    width: 194px;
                    position: relative;
                    margin-top: 18px;
                    
                }
                .g_brand{
                    margin-top: 18px;
                    .g_c_1{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
//love_new
#love_new{
    position: relative;
    margin-top: 20px;
    height: 400px;
//  float: left;
    background: chocolate;
}



//横幅
#hengfu{
    margin-top: 20px;
    a{
        background: url(../img/hf.jpg) no-repeat center top;
        display: block;
        height: 100px;
        overflow: hidden;
        
    }
}
//楼梯
#box_wrap{
    background: navajowhite;
    min-height: 2000px;
    #content{
        min-height: 1000px;
    }
   .floor_nav{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 36px;
    z-index: 910;
    overflow: hidden;
    margin-left: -660px;
    margin-top: -216px;
    text-align: center;
    ul{
        li{
           position: relative;
           width: 24px;
           height: 36px;
           font-size: 12px;
           padding: 5px 6px;
           margin-bottom: 2px;
           background-color: #fff;
           color: #666;
           line-height: 18px;
           &:hover{
               background: red;
           }
          }
      }
    }
}

//进口
#jinkou{
    height: 490px;
    margin-top: 20px;
    h4{
        padding: 12px;
        font-size: 20px;
        line-height: 20px;
        a{
            color: #645144;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;
            .index_ico{
                margin-left: 10px;
                background: #645144;
                font-size: 16px;
                line-height: 20px;
                font-weight: normal;
                color: #fff;
                border-radius: 50%;
            }
        }
    }
    .claerfix{
        .g_food{
            background: #952b1e;
            width: 930px;
            float: left;
            height: 450px;
            .left_banner2{
                position: relative;
                float: left;
                width: 316px;
                height: 450px;
                a{
                    display: block;
                    img{
                        display: block;
                        position: absolute;
                        border-bottom: 0;
                        left: 0;
                        width: 316px;
                        height: 450px;
                    }
                }
                .b_link{
                    position: absolute;
                    left: 20px;
                    bottom: 10px;
                    ul{
                        li{
                            float: left;
                            display: list-item;
                            a{
                                display: block;
                                width: 83px;
                                height: 28px;
                                margin: 0 10px 10px 0;
                                border: 1px solid rgba(255,255,255,0.2);
                                background-color: rgba(255,255,255,0.1);
                                line-height: 28px;
                                color: #fff;
                                font-size: 14px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .center_con{
                width: 609px;
                padding: 5px 4px 5px 0;
                float: left;
                .f1{
                    float: left;
                    a{
                        width: 405px;
                        height: 220px;
                        img{
                            width: 405px;
                            height: 220px;
                            transition: all 0.6s; 
                            &:hover{
                                transform: scale(1.05);
                            }
                        }
                    }
                    
                }
                .f2{
                    float: left;
                    .pro_shoppe{
//                      margin-right: 1px;
//                      margin-top: 1px;
                        width: 202px;
//                      padding-bottom: 1px;
                         float: left;
                        a{
                            position: relative;
                            display: block;
                            height: 200px;
                            padding: 20px 0 0 20px;
                            background-color: #fff;
                            font-size: 14px;
                            line-height: 24px;
                             transition: all 0.6s; 
                            &:hover{
                                transform: scale(1.05);
                               // box-shadow: ;
                            }
                              
                            img{
                                position: absolute;
                                bottom: 10px;
                                right: 10px;
                                width: 140px;
                                height: 140px;
                            }
                        }
                    }
                }
            }    
        }
    }
}
.right_con{
    float: right;
    width: 203px;
    position: relative;
    height: 440px;
    top: -1px;
    .pro_shoppe{
        height: 219px;
       margin-right: 1px;
       padding-bottom: 1px;
       a{
           display: block;
           position: relative;
           padding: 20px 0 0 20px;
           background: #FFF;
           height: 200px;
           font-size: 14px;
           line-height: 24px;
            transition: all 0.6s; 
            &:hover{
                    transform: scale(1.05);
                }
           img{
               display: block;
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 140px;
                height: 140px;
                
               
              }
    
        }
    }
}
.g_category{
    float: right;
    width: 298px;
    ul{
        li{
            float: left;
             background: #ffe6ee;
             &:nth-of-type(2){
                 background: #fff3e4;
             }
             &:nth-of-type(3){
                 background: #e9fbf0;
             }
             &:nth-of-type(4){
                 background: #f9eee9;
             }
             &:nth-of-type(5){
                 background: #f0f8ff;
             }
             &:nth-of-type(6){
                 background: #e2f8f2;
             }
            a{
                position: relative;
                display: block;
                width: 137px;
                height: 138px;
                overflow: hidden;
                padding: 12px 0 0 12px;
                line-height: 26px;
                cursor: pointer;
                .pro_tit{
                    color: #f06291;
                    height: 26px;
                    overflow: hidden;
                    font-size: 14px;
                }
                .pro_sub_tit{
                    position: relative;
                    z-index: 105px;
                    height: 26px;
                    overflow: hidden;
                    color: #757575;
                    font-size: 12px;
                    font-family: "century gothic";
                }
                .pro_color{
                    background-color: #F06291;
                    width: 20px;
                    height: 3px;
                    overflow: hidden;
                    font-size: 0;
                    line-height: 0;
                }
                img{
                    position: absolute;
                    right:-5px;
                    bottom: 0;
                    width: 100px;
                    height: 100px;
                    transition: all 0.5s;
                    &:hover{
                        transform:translate(-6px);
                    }
                }
            }
        }
    }
}
//国产食品
#gcsp{
    height: 430px;
    margin-top: 20px;
    background: #fff;
    .left_con{
        position: relative;
        float: left;
        width: 236px;
        height: 410px;
        padding-top: 20px;
        text-align: center;
        background: #f78a4b;
        h4{
            font-weight: normal;
            text-align: center;
            a{
                display: block;
                padding: 0 10px 10px 15px;
                font-size: 20px;
                color: #fff;
                line-height: 20px;
                border-bottom: 1px solid #feeadd;
                i{
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }
        .en_tit{
            color: #FFF;
            font-size: 14px;
            line-height: 24px;
            font-family: "century gothic";
        }
       .comment{
           position: absolute;
           bottom: 0;
           left: 0;
           width: 236px;
           height: 26px;
           overflow: hidden;
           padding: 8px 0;
           background: rgba(255,255,255,0.2);
           line-height: 26px;
           text-align: center;
           .comment_left{
               border-right: 1px solid #f7d9b7;
               width: 42px;
               height: 26px;
               float: left;
               color: #fff;
               
           }
           .comment_list{
               width: 173px;
               height: 26px;
               overflow: hidden;
               float: right;
               padding: 0 10px;
               text-align: center;
           }
       }
    }
    .center_con1{
       float: left;
       width: 744px;
       .keywords{
           height: 40px;
           font-size: 12px;
           overflow: hidden;
           border-right: 1px solid #f5f5f5;
           margin-left: 4px;
           color: #aaa; 
           ul{
               margin-left: -3px;
               li{
                   float: left;
                   a{
                       display: inline-block;
                       margin: 0 15px;
                       line-height: 40px;
                       color: #aaa;
                       &:hover{
                           font-weight: bold;
                           color: #F78A4B;
                       }
                   }
               }
           }
       } 
       .claerfix{
           .pro_wrap{
               float: left;
               position: relative;
               width: 247px;
               height: 194px;
               overflow: hidden;
               border-top: 1px solid #f5f5f5;
               border-right: 1px solid #f5f5f5;
               a{
                   display: block;
                   width: 247px;
                   height: 174px;
                   padding-top: 20px;
                   color: #333;
                   p{
                       position: relative;
                       z-index: 105;
                       margin-left: 20px;
                   }
                   .pro_sub_tit{
                       color: #F76969;
                   }
                   img{
                       position: absolute;
                       right: 10px;
                       bottom: 10px;
                       z-index: 101;
                       width: 130px;
                       height: 130px;
                      transition: all 0.5s;
                      &:hover{
                          transform:translate(-6px);
                      }
                   }
               }
           }
           .brand_wrap{
                float: left;
               position: relative;
               width: 247px;
               height: 194px;
               overflow: hidden;
               border-top: 1px solid #f5f5f5;
               border-right: 1px solid #f5f5f5;
               .brand_cover{
                   position: relative;
                   width: 204px;
                   height: 162px;
                   overflow: hidden;
                   border: 21px solid #fff;
                   border-top: 16px solid #fff;
                   border-bottom: 16px solid #fff;
                   ul{
                       position: absolute;
                       top: -16px;
                       left: -21px;
                       width: 246px;
                       li{
                           float: left;
                           border-top: 1px solid #F5F5F5;
                           border-right:1px solid #F5F5F5 ;
                           cursor: pointer;
                           a{
                               display: block;
                               width: 80px;
                               height: 32px;
                               padding: 15px 21px 15px 21px;
                               img{
                                   width: 80px;
                                   height: 32px;
                               }
                           }
                       }
                   }
               }
           }
       }
    }
    .hot_con{
        
    }
}
//前后轮播

//#box0{width: 250px;height: 300px;;margin:200px auto;border-radius: 5px;position: relative;perspective: 1000px;cursor: pointer;}
//      #box0>div{width: 100%;height: 100%;position: absolute;text-align: center;top: 0;left: 0;transition:all 1s ;}
//      #box0>div span{line-height: 300px;font-size: 60px;font-weight: bold;}
//      .card:nth-last-of-type(1){z-index: 100;transform: rotatex(-20deg) translatez(0);}
//      .card:nth-last-of-type(2){z-index: 90;transform: rotatex(-20deg) translatez(-100px);}
//      .card:nth-last-of-type(3){z-index: 80;transform: rotatex(-20deg) translatez(-200px);}
//   #box11{background: greenyellow;}
//   #box21{background: blueviolet}
//   #box31{background: orange;}
//      
//
//      .disappear{top:40px;opacity: 0;}
//      .appear{top: 0;opacity: 1;}
        
